__pycache__/
*.py[cod]
*.egg
*.egg-info
dist/
build/
eggs/
.eggs/
*.egg-link
.coverage
.tox
venv/
env/
/venv
/env
pip-log.txt
pip-delete-this-file.txt
.venv/
.conda/
.mamba/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*~
*.db
*.sqlite
*.sqlite3
*.log
.env
.flaskenv
secrets.json
config.ini
database/docker-compose.yaml